input/
output/
data/
car_crash_video_dataset/
crash_clips_to_train/
car_crash_video_dataset2/
cropped_crash_videos/
cropped_crash_videos2/
crash_clips/
yolo_model/
crash_no_crash_dataset/
motion_info/
demo/input/
demo/output/
venv/
example_images/
crashes/
videos/
latent_data/
best_s3d_flow.pth
models/
optical_flow_dataset/
optical_flow_dataset2/
latent_data2/
flow_logistic_data/
r3d18_best.pth
plots/
autoencoder.pth
labels.csv
.DS_Store
videos.tar.xz
r3d18_best1.pth
r2plus1d18_best1.pth
r18_gru_best1.pth
nohup.out
cropped_crash_videos.tar.xz
cropped_crash_videos2.tar.xz
traffic_cam_videos/
traffic_cam_videos2/
traffic_cam_videos3/
