input/
output/
data/
car_crash_video_dataset/
crash_no_crash_dataset/
demo/input/
demo/output/
venv/
example_images/
crashes/
videos/
latent_data/
models/
optical_flow_dataset/
latent_data2/
flow_logistic_data/
r3d18_best.pth
plots/
autoencoder.pth
labels.csv
.DS_Store
videos.tar.xz
